* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(180, 226, 253);
    display: flex;
    flex-direction: column;
    width: inherit;
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 6rem;
    padding-top: 20px;
    background: linear-gradient(#073ac7, #0f2c7c, #073ac7);
    border-bottom: solid 2px rgb(217, 224, 255);
    opacity: 98%;
    transition: all 0.4s linear;
}

header h1 {
    align-self: flex-start;
    transition: all 0.4s linear;
}

h1 {
    display: flex;
    justify-content: flex-end;
    font-size: 150%;
    width: 50%;
    height: fit-content;
    /* margin-top: 1%; */
    margin-bottom: 4%;
    padding: 5px;
    padding-right: 20px;
    border-top: solid 3px;
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-radius: 5px 5px;
    background-color: rgb(110, 101, 230);
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px 30px black;
    transition: all 0.4s linear;
}

nav {
    /* margin-bottom: 1%; */
    transition: all 0.4s linear;

}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.4s linear;
}

ul li {
    display: flex;
    width: 98%;
    justify-content: center;
    font-size: 0.5rem;
    font-weight: bolder;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border: solid 1px;
    border-radius: 10px;
    background-color: rgba(175, 236, 255, 0.815);
    color: rgb(255, 255, 255);
    transition: font-size .5s 0s;
    transition: all 0.4s linear;
}




ul li:hover {
    font-size: 115%;
    background-color: rgb(255, 255, 255);
    color: rgb(169, 115, 201);
    box-shadow: 10px 10px 30px black;
    cursor: pointer;
}

ul li:active {
    border: 2px inset rgb(124, 124, 124);
    background-color: rgba(153, 137, 158, 0.815);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

ul li:visited {
    border: 2px inset rgb(124, 124, 124);
    background-color: rgba(153, 137, 158, 0.815);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.cool-sam {
    height: 350px;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 30px;
    background-image: url("./images/sunglasses.PNG");
    background-size: cover;
    background-position: center;
    /* padding-top: 5rem;
    background-color: #073ac7; */
    opacity: 50%;
    border-top: solid 3px #073ac7;
    border-bottom: solid 3px black;
    transition: opacity 1s 0s;
}

article {
    padding-top: 25px;
    padding-bottom: 25px;
}

h2 {
    font-size: 400%;
    text-align: center;
    align-self: center;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: linear-gradient(0.25turn, rgb(97, 146, 236), #2a2aa5, rgb(97, 146, 236));
    color: rgb(236, 210, 243);
    border-top: solid 3px;
    border-bottom: solid 3px;
    /* border-radius: 5px; */
    /* box-shadow: 15px 15px 10px black; */
}

.about-me {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

.about-title-text {
    display: flex;
    flex-direction: column;
}

.sam-images {
    display: flex;
    justify-content: center;
}

.young-sam {
    position: relative;
    transition: opacity .5s ease-in-out;
    margin-top: 100px;
}

.wedding-sam {
    position: absolute;
    margin-top: 50px;
}

.young-sam, .wedding-sam {
    width: 350px;
    height: 275px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;
    align-self: center;
    box-shadow: 0px 0px 40px 10px rgb(30, 89, 199);
}

.about-me-title {
    margin-top: 8rem;
}

.about-text {
    font-size: 90%;
    line-height: 250%;
    height: 300px;
    padding: 20px;
    overflow: scroll;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    border-left: solid 2px rgb(32, 107, 245);
    border-right: solid 2px rgb(32, 107, 245);
    /* border-radius: 10px; */
    background: linear-gradient(#dbe6fc, #9e9cf5);
    color: rgb(0, 0, 0);
    transition: visibility ease-in 0s .75s; 
}

.projects-title {
    margin-top: 8rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: rgb(97, 146, 236);
    padding-bottom: 200px;
}

.apps-title {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#400583, #000001, #400583);
    color: rgb(236, 210, 243);
}

.main-app-block, .application-block {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#0A23A4, #010621);
    color: rgb(255, 255, 255);
    padding: unset;
    margin: 10px;
    margin-bottom: 30px;
    border: solid 3px rgb(46, 46, 46);
    border-radius: 20px;
    transition: width .5s 0s;
}

.main-app-block {
    text-align: center;
    width: 80%;
    margin-bottom: 3rem;
}

.application-section {
    display: flex;
    justify-content: center;
}

.application-block {
    display:block;
    width: 80%;
    text-align: center;
    margin-bottom: 3rem;
}

.main-app {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    opacity: 60%;
}

.application {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    opacity: 60%;
}

.app-name {
    font-size: 125%;
    background: linear-gradient(0.25turn, rgb(97, 146, 236), blue, rgb(97, 146, 236));
    margin-bottom: 3rem;
    margin-top: 5px;
}

.application-block:hover .app-name {
    font-size: 160%;
    background: linear-gradient(0.25turn, rgb(224, 255, 137), rgb(193, 214, 0), rgb(224, 255, 137));
    color: #000001;
    border-radius: 20px;
    margin-top: 5px;
}

.main-app-block:hover .app-name {
    font-size: 160%;
    background: linear-gradient(0.25turn, rgb(224, 255, 137), rgb(193, 214, 0), rgb(224, 255, 137));
    color: #000001;
    border-radius: 20px;
    margin-top: 5px;
}


h4 {
    font-size: 75%;
    letter-spacing: normal;
    color: white;
}

.contact-w-nav {
    align-items: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.info li {
    margin: 15px;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    background: linear-gradient(#fff9ac, #f8eb75);
    color: black;
    /* box-shadow: 15px 15px 10px black; */
    font-size: 150%;
    transition: font-size .5s 0s;
    transition: transform .5s 0s;
}



.info li:hover {
    background: linear-gradient(#fffbc5, #fcf299);
    transform: scale(1.05);
    font-size: 155%;
}


pre {
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.phone-section {
    display: flex;
    justify-content: center;
}

.old-phone {
    width: 400px;
    height: 300px;
    border: solid 10px rgb(206, 206, 206);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 15px 15px 10px black;
}

.cool-sam:hover {
    opacity: 100%;
}

.young-sam:hover {
    opacity: 0;
}

.about-me:hover .about-text {
    visibility: visible;
}

.pencil-paper:hover {
    box-shadow: 0px 0px 10px 10px rgb(106, 137, 240);
}

.main-app-block:hover {
    box-shadow: inset 0 0 20px 20px white;
    box-shadow: 15px 15px 10px black;
    border: solid 3px rgb(255, 252, 48);
}
.application-block:hover {
    box-shadow: inset 0 0 20px 20px white;
    box-shadow: 15px 15px 10px black;
    border: solid 3px rgb(255, 252, 48);
}

.main-app-block:hover .main-app {
    opacity: 100%;
}

.application-block:hover .application {
    opacity: 100%;
}


@media screen and (min-width: 768px) {
    
    header {
        width: 100%;
        padding-top: unset;
        padding-bottom: unset;
    }

    header nav {
        align-self: flex-end;
    }

    nav {
        margin-bottom: 0;
    }

    h1 {
        font-size: 350%;
        width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 2%;
        margin-bottom: 2%;
        justify-content: flex-end;
    }

    nav {
        width: 50%;
        margin-right: 10px;
    }

    

    ul {
        flex-direction: row;
    }

    ul li {
        font-size: 80%;
        padding-right: 0;
        padding-left: 0;
        margin-left: 2%;
        margin-right: unset;
    }

    ul li:hover {
        font-size: 90%;
    }

    .cool-sam {
        height: 400px;
        /* margin-top: 180px; */
    }

    h2 {
        font-size: 400%;
        justify-content: center;
    }

    .main-app-block {
        width: 55%;
    }
    
    .application-block {
        width: 35%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .main-app-block:hover {
        width: 60%;
    }
    /* .application-block:hover {
        width: 40%;
    } */

    .old-phone {
        width: 350px;
        height: 200px;
    }

    .info li {
        font-size: 125%;
    }

    .info li:hover {
        font-size: 140%;
    }
}


@media screen and (min-width: 1024px) {

    h1 {
        font-size: 450%;
        margin: unset;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-right: 50px;
    }

    h2 {
        font-size: 300%;
        letter-spacing: 1px;
    }

    ul li {
        font-size: 1.0rem;
        margin-right: 10px;
        font-weight: bolder;
    }

    ul li:hover {
        font-size: 110%;
    }

    .up header {
        min-height: 2rem;
        /* background: unset;
        background-color: #33a3ff;
        opacity: 98%; */
    }
    
    .up header h1 {
        font-size: 2rem;
        padding: 0.25rem 1rem;
        width: 40%;
        justify-content: center;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }
    
    .up nav a {
        font-size: 0.8rem;
        margin: unset;
    }
    
    .up ul {
        margin: unset;
    }


    .med header {
        min-height: 2rem;
        /* background: unset;
        background-color: #2d6dc2;
        opacity: 100%; */
    }
    
    .med header h1 {
        font-size: 3.5rem;
        padding: 0.25rem 1rem;
        width: 50%;
        justify-content: center;
        padding-left: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .med nav a {
        font-size: 1rem;
        margin: unset;
    }

    .cool-sam {
        height: 500px;
        margin-top: 235px;
        background-size: 1575px;
        background-position-y: 600px;
    }

    .young-sam, .wedding-sam {
        width: 500px;
        height: 425px;
    }

    .about-title-text {
        align-items: center;
    }

    .about-text {
        width: 70%;
        font-size: 80%;
        line-height: 200%;
    }

    .apps-title {
        width: 95%;
        text-align: center;
    }

    .info li {
        font-size: 150%;
    }
    .info li:hover {
        font-size: 165%;
    }

    .old-phone {
        width: 350px;
        height: 200px;
        margin-top: 5rem;
    }
}

